<!DOCTYPE html>
<html>
  <head>
    <title>SlideThru</title>
    <link rel='stylesheet' href='styles/main.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="friendslist.js"></script>

  </head>
  <body>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=262415694139629";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <h1>SlideThru</h1>




    <!-- FACEBOOK JAVASCRIPT -->
    <!-- <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div> -->
      <!-- FACEBOOK JAVASCRIPT -->

    <div class="post">
      <form action="/home" method="post">
        <textarea maxlength='300' name="text" placeholder="I want to..."></textarea><br>

        <button> Post! </button>
      </form>
    </div class="post">





    {% for post in posts %}
    <div class="wholeEvent">
      <div class='profilePic'>
        <div class="displayName">
          {{post.user_key.get().name}}
        </div>
        <img src="{{post.user_key.get().picture_url}}" height='75px' width='75px'>
      </div>
      <div class='eventText'>
      <a href="{{post.url()}}">

      <div class="event">

        {%if plus_user['displayName'] == post.user_key.get().name%}
        <form action="/delete" method="post">
          <button name="delete">X</button>
          <input type="text" name="key" value="{{post.key.urlsafe()}}" hidden>
          <br>
        </form>
        {%endif%}

        {{post.text}}
        <div class= "date"> {{post.date.month}}/{{post.date.day}}/{{ post.date.year}} <br>
          &nbsp;&nbsp;
          {% if post.date.hour-7 > 12 %}
            {{post.date.hour-7-12}}:
          {% elif post.date.hour-7 < 7 %}
            {{post.date.hour-7+12}}:
          {% else %}
              {{post.date.hour-7}}:
            {% endif %}
            {% if post.date.minute < 10 %}
              0{{post.date.minute}}
            {% else %}
              {{post.date.minute}}
            {% endif %}
            {% if post.date.hour-7 >= 12 or post.date.hour < 7 %}
              pm
            {% else %}
              am
            {% endif %}
          </div>
          <form action="/home" method="slideIn">
            <button type="slidein" name="button">Slide in</button>
          </form>
      </div class="event">

      </a>
    </div>
</div>
</div>
    {% endfor %}



  </body>
</html>
