<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> This is a Blog! </h1>

    <form action="/" method="post">
      <label>Title</label>
      <input name="title" placeholder="Title goes here">
      <label>Content</label>
      <textarea name="text" placeholder="Writing goes here"></textarea>

      <button> Post! </button>
    </form>


    {% for bulbasaur in charmander %}
      <article>
          <h2>
            <a href="{{post.url()}}">
              {{bulbasaur.title}}
            </a>
          </h2>

          {{bulbasaur.text}}
          <div class= "date"> {{ bulbasaur.date }} </div>
      </article>
    {% endfor %}


  </body>
</html>
