<!DOCTYPE html>
<html>
  <head>
    <title>I'm Down</title>
    <link rel='stylesheet' href='styles/main.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=262415694139629";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <h1> I'm Down! </h1>


    <!-- FACEBOOK JAVASCRIPT -->
    <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
      <!-- FACEBOOK JAVASCRIPT -->


    <div class="post">
      <form action="/home" method="post">


        <label>Content</label><br><br>
          <textarea maxlength='300' name="text" placeholder="Writing goes here"></textarea><br>

           <button> Post! </button>
         </form>
       </div class="post">


    {% for post in posts %}

    <a href="{{post.url()}}">

      <div class="event">
          {{post.text}}
          <div class= "date"> {{post.date.month}}/{{post.date.day}}/{{ post.date.year}} <br>
            {% if post.date.hour-7 > 12 %}
              {{post.date.hour-7-12}}
            {% elif post.date.hour-7 < 7 %}
              {{post.date.hour-7+12}}
            {% else %}
              {{post.date.hour-7}}
            {% endif %}
            :{{post.date.minute}} </div>
      </div class="event">

      </a>
    {% endfor %}



  </body>
</html>
