<!DOCTYPE html>
<html>
  <head>
    <title>I'm Down</title>
    <link rel='stylesheet' href='styles/main.css'>
  </head>
  <body>


  <div class='container'>
    <div class='leftSide'>
      <a href="/home"><button type="goback" name="button">Go Back</button> </a>
      <div class='eventClicked'>
        <input type="text" name="postkey" value="{{post.key.urlsafe()}}">
        {{post.text}}

        <br><br>

        <div class='date'>{{post.date.month}}/{{post.date.day}}/{{ post.date.year}} <br>
          {% if post.date.hour-7 > 12 %}
            {{post.date.hour-7-12}}
          {% elif post.date.hour-7 < 7 %}
            {{post.date.hour-7+12}}
          {% else %}
            {{post.date.hour-7}}
          {% endif %}
            {% if post.date.minute < 10 %}
              :0{{post.date.minute}}
            {% else %}
              :{{post.date.minute}}
            {% endif %}
          {% if post.date.hour-7 >= 12 or post.date.hour < 7 %}
            pm
          {% else %}
            am
          {% endif %}
        </div>

      </div>

      <div class='commentSpace'>
        <h3> Leave a comment </h3>

        <form  action="{{post.url() }}" method="post">
            <textarea class='commentBox' name='comment'></textarea>
            <br>
            <button> Send comment </button>
        </form>
      </div>

      <br> <br>
      {% for comment in comments %}
        <div class='comments'>
            {%if user.email() == comment.user_key.get().email%}
            <div class="divForDeleteCommentButton">
              <form action="/deletecomment" method="post">
                <button class="deleteButton" name="delete">X</button>
                <input type="text" name="commentkey" value="{{comment.key.urlsafe()}}" >
                <br>
              </form>
            </div>
            {%endif%}
              <strong> {{comment.text}} </strong>
            <br> <br> By {{comment.user_key.get().name}}
            <img src={{comment.user_key.get().picture_url}}>


            <div class= "date"> {{comment.date.month}}/{{comment.date.day}}/{{ comment.date.year}} <br>
                &nbsp;&nbsp;
              {% if comment.date.hour-7 > 12 %}
                {{comment.date.hour-7-12}}
              {% elif comment.date.hour-7 < 7 %}
                {{comment.date.hour-7+12}}
              {% else %}
                {{comment.date.hour-7}}
              {% endif %}
                {% if post.date.minute < 10 %}
                  :0{{post.date.minute}}
                {% else %}
                  :{{post.date.minute}}
                {% endif %}
              {% if comment.date.hour-7 >= 12 or post.date.hour < 7 %}
                pm
              {% else %}
                am
              {% endif %}
            </div>
            <br>
        </div>
      {% endfor %}
    </div>
    <div class='rightSide'>
      <h3>Sliders<h3>
      {% for slider in sliders %}
        <img src={{slider.picture_url}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{slider.name}}
      {% endfor %}
    </div>
  </div>



  </body>

</html>
