<!DOCTYPE html>
<html>
  <head>
    <title>I'm Down</title>
    <link rel='stylesheet' href='styles/main.css'>
  </head>
  <body>
    <div class='eventInPost'>

        {{post.text}}

        <br><br>

        <div class='date'>{{post.date.month}}/{{post.date.day}}/{{ post.date.year}} <br>
          &nbsp;&nbsp;
          {% if post.date.hour-7 > 12 %}
            {{post.date.hour-7-12}}
          {% elif post.date.hour-7 < 7 %}
            {{post.date.hour-7+12}}
          {% else %}
            {{post.date.hour-7}}
          {% endif %}
          :{{post.date.minute}}  </div>

    </div>

  <h2> Leave a comment </h2>

  <form  action="{{post.url() }}" method="post">
      <textarea class='comment' name='comment'></textarea>
      <br>
      <button> Send comment </button>
  </form>



  <!-- display all comments associated with the post page -->
  <br> <br>
  {% for comment in comments %}
    <div class='comments'>
        <h2>
        </h2>
          <strong> {{comment.text}} </strong>
        <br> <br> By {{comment.name}}


        <div class= "date"> {{post.date.month}}/{{post.date.day}}/{{ post.date.year}} <br>
          &nbsp;&nbsp;
          {% if post.date.hour-7 > 12 %}
            {{post.date.hour-7-12}}
          {% elif post.date.hour-7 < 7 %}
            {{post.date.hour-7+12}}
          {% else %}
            {{post.date.hour-7}}
          {% endif %}
          :{{post.date.minute}} </div></div>
        <br>
    </div>
  {% endfor %}



  </body>

</html>
