<!DOCTYPE html>
<html>
  <head>
    <title>SlideThru</title>
    <link rel='stylesheet' href='styles/main.css'>
  </head>
  <body>
    <h1 class ='slideThruTitle'>SlideThru</h1>
    <br><br>

<h3 class='intro'><i> "Take the hassle out of hanging out with friends." <i><h3>

   <br><br><br>

 <a href="{{login_url}}"><button type="login" name="button">Login</button></a>

   <br><br><br><br>

  <p class='intro'>

  SlideThru makes sure you'll always have something to do on a Friday night.
  <br>
  With SlideThru, you can post hangout proposals to all of your friends, <br> all at the same time.
  Never again suffer from friends who aren't free <br> and make rejection a thing of the past.
  When friends want to hang, <br> they'll press your post's "slide through" button and you'll know who's REALLY down.<br><br> It's that easy. <br><br>

  <p>


  <br>



  </body>
</html>
