h1{
  font-size: 50px;
}
body{
  text-align: center;
}
div.event{
  margin-left: 450px;
  margin-bottom:10px;
  margin-top:10px;
  border: 2px solid;
  border-radius: 25px;
  width:500px;
  height: 150px;

}

div.date{
  margin-left: 350px;
}

div.comments{
  margin-left: 450px;
  border: 2px solid;
  width:500px;
  height: 150px;
}
