h1{
  font-size: 300%;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color:white;
  background-color: lightblue;
  margin-top:0;
  -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
  background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
}

body{
  text-align: center;
  text-decoration: none;
}

div.container {
	display: flex;
}

.leftSide {
  width: 70%;
	padding: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.rightSide {
  width: 30%;
	padding: 10px;
}

textarea {
  resize :none;
  width: 80%;
  height: 75px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;

  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

.wholeEvent{
}
.profilePic{
  display: inline-block;
  margin-right: 3%;
}
.eventText{
  display: inline;
  margin-right: 10%;

}



div.event{
  padding:20px;
  margin-bottom:10px;
  margin-top:10px;
  border: 2px solid;
  border-radius: 20px;
  width:40%;
  height: 15%;
  color:black;
  text-align:left;
  word-wrap: break-word;
  display:inline-block;
  background-color: white;
}

div.eventClicked{
  padding:20px;
  margin-bottom:10px;
  margin-top:10px;
  border: 2px solid;
  border-radius: 20px;
  width:50%;
  height: 15%;
  color:black;
  text-align:left;
  word-wrap: break-word;
  display:inline-block;
  background-color: white;
}


h2{
  clear:both;
}

div.date{
  margin-top: 5%;
  margin-left: 80%;
}

a {
  text-decoration: none;
}

div.comments{
  border: 2px solid;
  width:70%;
  height: 150px;
}

textarea.commentBox{

  width:65%;
  height: 75px;
}

.commentSpace{
  width:100%;
}


div.post{
  background-color: #FFD4CC;
  padding:20px;
  margin-left:30%;
  margin-right:30%;
}

button{
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
button:active {
	position:relative;
	top:1px;
}
